$darkest-blue: #2a3f54;
$gray-1: #f7f7f7;
$gray-2: #ededed;
$gray-3: #d9dee4;
$gray-4: #73879c;
$gray-5: #adb2b5;

$danger: #ff5e5e;
$warning: #f5a623;
$success: #7ed321;

$white: #fff;
$blue-1: #439aff;
