.menu {
  display: flex;
  justify-content: space-between;

  @media (min-width: 992px) {
    flex-direction: column;
  }

  > li {
    text-transform: uppercase;

    &:hover {
      border-bottom: $white solid thin;
    }

    @media (min-width: 992px) {
      margin-bottom: $font-size-base;
      padding-bottom: $font-size-base;
    }
  }
}
