.menu {
  display: flex;
  justify-content: space-between;
  // flex-direction: column;

  > li {
    // margin-bottom: 12px;
    // padding-bottom: 12px;
    text-transform: uppercase;

    &:hover {
      border-bottom: $white solid thin;
    }
  }
}
