$navigation-bg-color: $darkest-blue;
$main-bg-color: $gray-1;
$top-bar-bg-color: $gray-2;
$top-bar-br-color: $gray-3;
$font-color-base: $gray-4;
$stat-item-bd-color: $gray-5;

//Fonts
$font-family-primary: 'Roboto';
$font-family-icon: 'icomoon';
$font-size-base: 12px;
$font-weight-light: 100;
$font-weight-regular: 400;
$font-weight-bold: 700;
