.app {
  display: grid;
  height: 100vh;

  @media (min-width: $media-breakpoint-lg) {
    grid-template-columns: $navigation-width 1fr;
  }
}

.section-title {
  font-weight: $font-weight-light;
  margin-bottom: $space-sm;
  text-transform: uppercase;
}

.navigation {
  background: $navigation-bg-color;
  color: $white;
  padding: $space-sm;
}

.main {
  background: $main-bg-color;
}

.search-wrapper {
  font-weight: $font-weight-light;
}

.stat-item {
  background: $navigation-bg-color;
  color: $white;
  padding: $space-md $space-sm $space-lg;
  position: relative;

  &:not(:first-of-type) {
    &::before {
      border-left: $border-md $border-style-base $stat-item-bd-color;
      content: '';
      height: 65px;
      left: 0;
      margin-top: $space-sm;
      position: absolute;
    }
  }

  .count-top,
  .count-bottom {
    font-size: $font-size-base;
  }

  .count {
    font-size: $count-font-size;
    font-weight: $font-weight-bold;
    line-height: $count-line-height;
  }
}

.performance-section {
  grid-row: span 2;
}

.earning-report-table {
  align-items: center;
  display: grid;
  grid-column-gap: $space-sm;
  grid-template-columns: auto 1fr;

  [class^='icon-'] {
    font-size: 68px;
  }
}


.partner-card {
  align-items: center;
  display: grid;
  grid-column-gap: $space-sm;
  grid-template-columns: auto 1fr;

  &:not(:last-child) {
    border-bottom: $gray-5 solid thin;
    margin-bottom: $space-xl;
    padding-bottom: $space-sm;
  }

  .partner-img {
    background: $gray-1;
    border: $gray-5 solid 2px;
    border-radius: 50%;
    color: $gray-5;
    display: inline-block;
    font-size: 34px;
    height: 36px;
    line-height: 1;
    text-align: center;
    width: 36px;
  }

  .partner-data {
    h6 {
      display: inline-block;
      font-weight: $font-weight-bold;
      margin-bottom: $space-xs;

      &+span {
        float: right;
      }
    }
  }
}

.updates {
  background: $blue-1;
  color: $white;
}

.name-initial-container {
  margin-top: $space-sm;

  > span {
    border: $white $border-style-base $border-sm;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    font-size: $font-size-md;
    height: $name-initial-size;
    line-height: $name-initial-size;
    text-align: center;
    width: $name-initial-size;

    &:not(:last-child) {
      margin-right: $space-xs;
    }
  }
}
